<mat-list role="list" class="drawer-content">
  <mat-list-item role="listitem" class="drawer-content mouse-pointer" routerLink="add-slider"
    [routerLinkActiveOptions]="{exact:true}">
    Add Slider
  </mat-list-item>
  <mat-list-item role="listitem" class="drawer-content mouse-pointer" routerLink="view-slider"
    [routerLinkActiveOptions]="{exact:true}">
    View Slider
  </mat-list-item>
  <mat-list-item role="listitem" class="drawer-content mouse-pointer" routerLink="add-activity"
    [routerLinkActiveOptions]="{exact:true}">
    Add Activity
  </mat-list-item>
  <mat-list-item role="listitem" class="drawer-content mouse-pointer" routerLink="view-activity"
    [routerLinkActiveOptions]="{exact:true}">
    View Activity
  </mat-list-item>
  <!-- <mat-list-item role="listitem" class="drawer-content mouse-pointer" routerLink="home-stay"
    [routerLinkActiveOptions]="{exact:true}">
    Content Editor
  </mat-list-item> -->
  <mat-list-item role="listitem" class="drawer-content mouse-pointer" routerLink="home-stay"
    [routerLinkActiveOptions]="{exact:true}">
    Homestay
  </mat-list-item>
  <mat-list-item role="listitem" class="drawer-content mouse-pointer" routerLink="resorts"
    [routerLinkActiveOptions]="{exact:true}">
    Resorts
  </mat-list-item>
  <mat-list-item role="listitem" class="drawer-content mouse-pointer" routerLink="add-product"
    [routerLinkActiveOptions]="{exact:true}">
    Add Product
  </mat-list-item>
  <mat-list-item role="listitem" class="drawer-content mouse-pointer" routerLink="add-special-product"
    [routerLinkActiveOptions]="{exact:true}">
    Special Product
  </mat-list-item>
  <mat-list-item role="listitem" class="drawer-content mouse-pointer" routerLink="view-product"
    [routerLinkActiveOptions]="{exact:true}">
    View Product
  </mat-list-item>
  <mat-list-item role="listitem" class="drawer-content mouse-pointer" routerLink="add-review"
    [routerLinkActiveOptions]="{exact:true}">
    Add Review
  </mat-list-item>
  <mat-list-item role="listitem" class="drawer-content mouse-pointer" routerLink="view-review"
    [routerLinkActiveOptions]="{exact:true}">
    View Review
  </mat-list-item>
</mat-list>
