.example-spacer {
    flex: 1 1 auto;
}

.title-center {
    flex: 6 1 auto;
    text-align: center;
    font-size: 24px;
}

.mat-drawer {
    width: 230px;
}

.mat-button {
    background-color: #48494B;
}

.logo-img{
    height: 30px;
    width: 50%;
}

.close{
   cursor: pointer;
}